.productImage {
  flex-grow: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tooltip .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}
